<!-- icon font -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

<div class="main">
    <form action="/greeting" method="post">
        <div class="row ">
            <label for="nameInput">Name:</label>
            <input class="nameInput" type="text" name="nameInput" title="Should not contain numbers, spaces or spaces"  required>
        </div>
        <div class="row ">
            <label for="languageRadio">Language</label>

            <label for="">
                <input type="radio" name="languageRadio" value="isixhosa" required>
                <span>IsiXhosa</span>
            </label>

            <label for="">
                <input type="radio" name="languageRadio" value="english" required>
                <span>English</span>
            </label>

            <label for="">
                <input type="radio" name="languageRadio" value="afrikaans" required>
                <span>Afrikaans</span>
            </label>
        </div>
        <!-- Buttons -->
        <button class="btn btnGreeting" type="submit">Say greeting</button>
        <a href="/clear-data" class="btnClear" title="Clear memory"><i class="fas fa-trash"></i></a>
    </form>
        
    <div class="row display-section">
        <div class="greeting-message">
            {{message}}
        </div>
        <div class="counter">
            Greetings:
            <span class="counterVal">{{counter}}</span>
        </div>
    </div>
    <div class="row view-data"><a href="/greetings">View greeted users</a> &rarr;</div>
</div>
