<div class="main">
    <form action="/greeting" method="post">
        <div class="row ">
            <label for="nameInput">Name:</label>
            <input class="nameInput" type="text" name="nameInput" title="Should not contain numbers, spaces or spaces"  required>
        </div>
        <div class="row ">
            <label for="languageRadio">Language</label>

            <label for="">
                <input type="radio" name="languageRadio" value="isixhosa" required>
                <span>IsiXhosa</span>
            </label>

            <label for="">
                <input type="radio" name="languageRadio" value="english" required>
                <span>English</span>
            </label>

            <label for="">
                <input type="radio" name="languageRadio" value="afrikaans" required>
                <span>Afrikaans</span>
            </label>
        </div>
        <!-- Buttons -->
        <button class="btn btnGreeting" type="submit" name="btnGreeting">Say greeting</button>
        <button class="btn btnClear" type="reset" name="btnClear">Clear data</button>
    </form>
    <div class="row display-section">
        <div class="greeting-message">
            {{message}}
        </div>
        <div class="counter">
            Greetings:
            <span class="counterVal">{{counter}}</span>
        </div>
    </div>
    <div class="row view-data"><a href="/greetings">View greeted users</a> &rarr;</div>
</div>